*body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    bottom: 0;
    margin: 0;
}

main.principal {
    margin-bottom: 80px;
}

.container-extras {
    position: relative;
    display: flex;
    justify-content: center;
    top: 60px;
    margin-top: 15px;
}

.text-titulo-foto {
    color: #fff;
}

.container-card img {
    border-radius: 20px 0 20px 0;
}

div.card {
    position: relative;
    display: flex;
    width: 20rem;
    margin: 5px;
    padding: 1px;
    background-color: #525486;
    border-radius: 20px 0 20px 0;
    top: 50px;
}

#card-text {
    display: flex;
    position: relative;
    color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

.titulo-docs h2 {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: #525486;
    font-family: 'Roboto', sans-serif;
}