div.carousel {
    display: flex;
    position: relative;
    margin: auto;
    top: 60px;
    width: 64rem;
    padding-top: 15px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.carousel-item {
    width: 100%;
}

.carousel img {
    border-radius: 20px 0 20px 0;
    border: 2px solid #525486;
}

.carousel-control-prev-icon {
    position: relative;
    display: flex;
    padding: 0.7rem;
    right: 40px;
    background-color: #525486;
    color: #525486;
    border: 2px solid #525486;
    outline: black;
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 6px solid #525486;
}

.carousel-control-prev-icon:hover {
    background-color: #525486;
}

.carousel-control-next-icon {
    position: relative;
    display: flex;
    padding: 0.7rem;
    left: 40px;
    background-color: #525486;
    color: #525486;
    border: 2px solid #525486;
    outline: black;
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 6px solid #525486;
}

.carousel-control-next-icon:hover {
    background-color: #525486;
}

div.carousel-indicators button.icon-slide {
    display: flex;
    position: relative;
    color: #525486;
    padding: 0.4rem;
    background-color: #525486;
    top: 20px;
    border-radius: 100%;
    width: 0.5px;
    height: 0.5px;
}

.carousel h5,
.carousel p {
    color: #525486af;
}