div.container-gestao {
    display: flex;
    position: relative;
}

div.card-gestao-1{
    display: inline-block;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 50px;
    width: 18rem;
    height: 18rem;
}
div.card-gestao-2{
    display: inline-block;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    width: 18rem;
    height: 18rem;
}

img .img-gestao-1{
    width: 18rem;
    height: 18rem;
}
img .img-gestao-2{
    width: 14rem;
    height: 14rem;
}