div.container-gestao {
    display: inline-block;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

div.titulo-gestao{
    display: flex;
    position: relative;
    justify-content: center;
}

div.titulo-gestao h1{
    color: #525486;
    font-weight: 600;
    text-transform: uppercase;
    font-size:30px;
}

div.card-gestao-1{
    display: inline-block;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 50px;
    width: 14rem;
    height: 14rem;
    float: left;
}
div.card-gestao-2{
    display: inline-block;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    width: 14rem;
    height: 14rem;
    float: left;
    border-radius: 20px 0 20px 0;
}

img .img-gestao-1{
    width: 18rem;
    height: 18rem;
    
}
img .img-gestao-2{
    width: 14rem;
    height: 14rem;
}

div.card-body p{
    display: flex;
    align-items: center;
    align-content:center;
    justify-content: center;
    justify-items: center;
    text-transform: uppercase;
    text-decoration: none;
}