.tabela {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: blue;
}

thead h2.titulo-tabela {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}